.big-b {
  background: url("../../images/bgi.svg");
  height:600px;
}

.row1 {
  height: auto;
  display: flex;
}
.textbox1 {
  width: 50%;
  padding-top: 50px;
}
.p-1 {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Syne";
  margin-left: 10%;
  font-size: 26px;
  font-weight: 600;
  text-align: left;
}
.p-2 {
  font-family: "Work Sans";
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  margin-left: 10%;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.contactform {
  width: 40%;
  padding-top: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 30px;
}  
input {
  background: transparent;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  outline: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: white;
  height: 30px;
}

.errorshow {
  color: #ffffff;
}
.row2{
  height: auto;
  display: flex;
  
}  
.getInTouch{
  margin-left: 5%;
  width: 60%;
  height: 40%;
  font-family:Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 90px;
  color: #ffffff;
  text-align: left;
  line-height: 100px;
  letter-spacing: 5px;
  z-index:0;
}
.send {
  justify-content: right;
  width: 181px;
  height: 181px;
  background: transparent;
  border-radius: 50%;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  border: 2px solid #f07e15;
  color: #f07e15;
  line-height: 16px;
}
 
  @media all and (max-width: 720px) {
    .big-b {
      width: 100%;
      height: 650px;
    }
    .row1{
      height: 40%;
      display: flex;
      flex-direction: column;
    }
    .textbox1 {
      margin:auto;
      justify-content: center;
    }
    .p-1 {
      margin-left: -10%;
      margin-top: -30px;
      text-align: center;
      font-size: 50px;
    }
    .p-2 {
      margin-left: -10%;
      margin-top: -30px;
      text-align: center;
      font-size: 25px;
    }
    .contactform {
      margin: auto;
      width: 100%;
    }
    .row2{
      margin-top: 180px;
    }  
    .getInTouch{
      margin-left: 2%;
      width: 70%;
      font-family:Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 70px;
      color: #ffffff;
      text-align: left;
      line-height: 70px;
      letter-spacing: 5px;
      z-index:3;
      overflow: visible;
    }
    .send {
      
      justify-content: right;
      width: 170px;
      height: 170px;
      background: transparent;
      border-radius: 50%;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      border: 2px solid #f07e15;
      color: #f07e15;
      line-height: 16px;
    }
      
}

@media all and (max-width: 550px) {
  .row2{
    margin-top: 200px;
  }  
  .getInTouch{
    display: inline;
    margin-left: 2%;
    width: 70%;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    color: #ffffff;
    text-align: left;
    line-height: 35px;
    letter-spacing: 6px;
    z-index:3;
    overflow: visible;
  }
  .send {
    margin-right: 10%;
    justify-content: right;
    width: 100px;
    height: 100px;
    background: transparent;
    border-radius: 50%;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    border: 2px solid #f07e15;
    color: #f07e15;
    line-height: 8px;
    z-index: -1;
  }
}