.mainbox {
  padding-top:84px;
  width: 100%;
    background-color: black;
    height: 750px;
  }
  .box {
    width: 100%;
    position: absolute;
    background-color: transparent;
  }
  .orangebox {
    float: right;
    width:75%;
    height: 350px;
    margin-top: 50px;
    margin-left:100%;
    background-color: rgba(240, 126, 21, 1);
    margin-top:200px;
  }

  .box-1 {
    margin-top: 150px;
    margin-left: 10%;
    width: 50%;
    z-index:0;
    float:left;
  }
  .box-2 {
    margin-top: -150px;
    width: 50%;
    float: right;
  }
  .fresh {
    position: absolute;
    font-weight: 800;
    font-size: 135px;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
  }
  .num {
    position: absolute;
    font-weight: 800;
    font-size: 135px;
    -webkit-text-stroke: 1px rgb(254, 251, 251);
    -webkit-text-fill-color: transparent;
    margin-top: 100px;
    margin-left: 12%;
    font-family: "Syne";
    letter-spacing: 3px;
  }
  .look {
    position: absolute;
    font-weight: 800;
    font-size: 135px;
    color: rgba(255, 255, 255, 1);
    margin-left: 2%;
    font-family: "Syne";
    margin-top: 210px;
    letter-spacing: 3px;
  }
  
  
  .image-1 {
    float: right;
    position: absolute;
    width: 35%;
    max-height: 250px;
    margin-top: 50px;
    margin-left:10%;
  }
  .image-2 {
    margin-top: 70px; 
    position: absolute;
    width: 50%;
    max-height: 500px;
    margin-right:1000px;
    /* border: 1px solid red; */
  }
  
  
  .org {
    font-family: "Work Sans";
    font-weight: 400;
    font-size: 14px;
    color: #161615;
    position: absolute;
    width: 117px;
    height: 16.2px;
    left: 1250px;
    top: 580px;
    text-transform: uppercase;
  }
  .pri {
    position: absolute;
    width: 31px;
    height: 16.2px;
    left: 1250px;
    top: 600px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
  .line {
    position: absolute;
    width: 60%;
    height: 0px;
    left: 0px;
    top: 590px;
    border: 1px solid #ffffff;
  }
  .image-3 {
    position: absolute;
    width: 64px;
    height: 89.08px;
    left: 55%;
    top: 545px;
  }
  
  
  .see {
    display: flex;
    position: absolute;
    width: 95px;
    height: 25px;
    background-color: transparent;
    border: 1px solid #ffffff;
    left: 14%;
    top: 685.51px;
  }
  .see a{
    color:#ffffff;
    text-decoration: none;
  }
  .img {
    color:#ffffff;
    margin-top: 5px;
    height: 16px;
  } 

 @media all and (max-width: 720px) {
  .box-1 {
    margin-top:120px;
    width: 50%;
    float:left;
  }
  .box-2{
    margin-top:-130px;
  }
  .fresh {
    position: absolute;
    font-weight: 500;
    font-size: 70px;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
    z-index:2;
  }
  .num {
    position: absolute;
    font-weight: 500;
    font-size: 70px;
    -webkit-text-stroke: 1px rgb(254, 251, 251);
    -webkit-text-fill-color: transparent;
    margin-top: 100px;
    margin-left: 12%;
    font-family: "Syne";
    letter-spacing: 3px;
    z-index:2;
  }
  .look {
    position: absolute;
    font-weight: 500;
    font-size: 70px;
    color: rgba(255, 255, 255, 1);
    margin-left: 2%;
    font-family: "Syne";
    margin-top: 160px;
    letter-spacing: 3px;
    z-index:2;
  }
  .orangebox {
    position: inherit;
    float: right;
    width:100%;
    height: 200px;
    background-color: rgba(240, 126, 21, 1);
    margin-top:180px;
  }
  .image-1 {
    float: right;
    position: absolute;
    width: 35%;
    height: 200px;
    margin-top: 50px;
    margin-left:10%;
  }
  .image-2 {
    margin-top: 70px; 
    position: absolute;
    width: 50%;
    height: 400px;
    margin-right:1000px;
  }
  .line {
    position: absolute;
    width: 60%;
    height: 0px;
    left: 0px;
    top: 430px;
    border: 1px solid #ffffff;
  }
  .image-3 {
    position: absolute;
    width: 64px;
    height: 89.08px;
    left: 55%;
    top: 385px;
  }
  .see {
    top: 480px;
  }
  } 