.api-image {
    width: 250px;
    height: 322px;
    /* width: fit-content; */
  }
  .pd-name {
    font-family: "Syne";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-align: left;
  }
  .pd-des {
    font-size: 14px;
    text-align: left;
  }
  .pd-price {
    font-family: "Syne";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
    flex: none;
    order: 2;
    flex-grow: 0;
    text-align: left;
  }
  .display-data {
    margin-right: 25px;
  }

  @media all and (max-width: 720px) {
    .display-data {
      margin-top: 170px;
    }
  }